.frame-1-description{
  @extend %landing-frame-styles-description;
  color: #000;
  margin-bottom: 1.25rem;
  font-weight: 600;
  @include styling-for-browser-size(900px){
      font-size: 1rem;
  }
  @include styling-for-browser-size(800px){
    font-size: 0.9rem;
    line-height: 1.575rem;
  }
  /*
  @include styling-for-browser-size(750px) {
    font-size: 0.7rem;
    line-height: 1.375rem;
  }*/
  @include dimensions-for-phone-and-tablet{
    text-align: center;
  }
}

.icon-list-description{
  @extend %landing-frame-styles-description;
  color: #000;
  font-weight: 400;
  margin-left: 1rem;
  @include dimensions-for-phone-only{
    margin-left: 0.5rem;
  }
}

.frame-5-description{
  @extend %landing-frame-styles-description;
  color: #000;
  @include dimensions-for-phone-and-tablet{
      align-self: center;
      text-align: center;
      font-size: 1rem;
      /*margin-right: 3.5rem;*/
  }
}

.frame-footer-description{
  @extend %landing-frame-styles-description;
  color: #FFF;
  margin-bottom: 3rem;
  @include dimensions-for-phone-and-tablet{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0;
  }
}

.frame-2-description{
  @extend %landing-frame-styles-description;
  color: #FFF;
  @include dimensions-for-phone-and-tablet{
      text-align: center;
      font-size: 1rem;
  }
  @include dimensions-for-large-desktop-only{
    font-size: 1.2rem;
  }
}