.footer-parent{
    @include dimensions-for-tablet-only{
        display: grid;
    }
}
.footer{
    @extend %landing-footer-style;
    font-size: 1rem;
    margin-top: 6rem;
    @include font-family(tertiary);
    @include dimensions-for-phone-and-tablet{
        display: none;
    }
}
.mobile-footer{
    display: none;
    @include dimensions-for-phone-and-tablet{
        color: #FFF;
        font-style: normal;
        font-weight: 500;
        line-height: 1.875rem;
        display: inline;
        text-align: center;
        font-size: 0.75rem;
        margin-top: 1rem;
        margin-left: 1rem;
        @include font-family(tertiary);
    }
    @include dimensions-for-tablet-only{
        align-self: center;
        margin-left: 1.5rem;
    }
}