.footer-parent{
    @include dimensions-for-tablet-only{
        display: grid;
    }
}
.footer{
    @extend %landing-footer-style;
    font-size: 0.8rem;
    margin-top: 1.8rem;
    @include font-family(tertiary);
    @include dimensions-for-phone-and-tablet{
        display: none;
    }
    @include dimensions-for-ipad{
        font-size: 0.6rem;
        margin-top: 0.2rem;
    }
    @include styling-for-browser-size(950px){
            display: none;
    }
    @include dimensions-for-small-desktop-only{
        margin-top: 4rem;
    }
    @include dimensions-for-large-desktop-only{
        margin-top: 3.5rem;
    }
    @include dimensions-for-monitor-only{
        font-size: 1rem;
        margin-top: 2.5rem;
    }
}
.mobile-footer{
    display: none;
    @include dimensions-for-phone-and-tablet{
        color: #FFF;
        font-style: normal;
        font-weight: 500;
        line-height: 1.875rem;
        display: inline;
        text-align: center;
        font-size: 0.75rem;
        margin-top: 1rem;
        margin-left: 1rem;
        @include font-family(tertiary);
    }
    @include dimensions-for-phone-only{
        margin-left: 2rem;
    }
    @include dimensions-for-phone-only{
        font-size: 0.65rem;
        max-width: max-content;
    }
    @include dimensions-for-tablet-only{
        align-self: center;
        margin-left: 4rem;
    }
}