.header{
    @include font-family(primary);
    font-size: 40px;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &_xlarge{
        color: $primary-header-color;
        font-size: 55px;
        @include dimensions-for-phone-and-tablet{
            text-align: center;
            font-size: 2rem;
            
        }
        @include dimensions-for-ipad{
            font-size: 3rem;
        }
        @include dimensions-for-small-desktop-only{
            font-size: 4rem;
        }
        @include dimensions-for-large-desktop-only{
            font-size: 5rem;
        }
        @include dimensions-for-monitor-only{
            font-size: 6rem;
        }
    }

    &_large{
        font-size: 45px;
        @include dimensions-for-phone-and-tablet{
            text-align: center;
            @include font-family(tertiary);
            font-size:40px;  
        }
        @include dimensions-for-ipad{
            font-size: 40px;
           
        }
        @include dimensions-for-large-desktop-only{
            font-size: 55px;
        }
        @include dimensions-for-monitor-only{
            font-size: 65px;
        }
    }

    &_medium{
        font-size: 38px;
        @include dimensions-for-phone-and-tablet{
            text-align: center;
            @include font-family(tertiary);
            font-size:30px;  
        }
        @include dimensions-for-ipad{
            font-size: 35px;
        }
        @include dimensions-for-large-desktop-only{
            font-size: 45px;
        }
    }

    &_small{
        font-size: 15px;
        font-weight: 500;
        @include dimensions-for-large-desktop-only{
            font-size: 1.2rem;
        }
    }
}

.welcome3_title {
    color: slateblue;
    font-size: 3vw;
    margin-top: 0;
    @include styling-for-browser-size(880px){
        font-size: 2.5rem;
    }
    @include styling-for-browser-size(450px){
        margin-bottom: 0;
    }
    @include styling-for-browser-size(331px){
        font-size: 2rem;
    }
}

.login_header{
    color: black;
    text-align: center;
    @include styling-for-browser-size(321px){
        font-size: 2.5rem;
    }
    @include styling-for-browser-size(300px){
        font-size: 2rem;
    }
}

.profile_info_title{
    color: black;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    @include styling-for-browser-size(450px){
        margin-top: 0;
    }
    @include styling-for-browser-size(321px){
        font-size: 1rem;
    }
}

.big_header{
    color: black;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    @include styling-for-browser-size(321px){
        font-size: 1.5rem;
    }
    @include styling-for-browser-size(300px){
        font-size: 1.5rem;
    }
}
