.monvalley{
    width: 8.0625rem;
    height: 4.5rem;
    margin-right: 2rem;
    @include dimensions-for-phone-only{
        width: 4.75rem;
        height: 2.625rem;  
    }
}
.citylogo{
    width: 13.375rem;
    height: 4.625rem;
    @include dimensions-for-phone-only{
        width: 7.6875rem;
        height: 2.625rem;  
    }
}
.frame-1-image{
    @extend %landing-frame-image-style;
    @include dimensions-for-phone-only{
        margin-left: 0;
        width: 22.625rem;
        height: 14.72631rem;   
    }
}
.frame-4-image{
    @extend %landing-frame-image-style;
    @include dimensions-for-phone-only{
        width: 22.625rem;
        height: 15.875rem;
        margin-left: 0;  
    }
}

.member-image{
    width: 7.5rem;
    height: 7.5rem;
    margin-bottom: 0.3rem;
    @include dimensions-for-phone-only{
        width: 6rem;
        height: 6rem;
    }
}
