.monvalley{
    width: 8.0625rem;
    height: 4.5rem;
    @include dimensions-for-phone-and-tablet{
        width: 4.75rem;
        height: 2.625rem;  
    }
    @include dimensions-for-small-desktop-only{
        width: 10.0625rem;
        height: 6.5rem;
    }
    @include dimensions-for-monitor-only{
        width: 12.0625rem;
        height: 8.5rem;
    }
}
.citylogo{
    width: 13.375rem;
    height: 4.625rem;
    @include dimensions-for-phone-and-tablet{
        width: 7.6875rem;
        height: 2.625rem;  
    }
    @include dimensions-for-small-desktop-only{
        width: 15.375rem;
        height: 6.625rem;
    }
    @include dimensions-for-monitor-only{
        width: 17.375rem;
        height: 8.625rem;
    }
}
.frame-1-image{
    @extend %landing-frame-image-style;
    @include styling-for-browser-size(900px) {
        width: 25rem;
        height: 25rem;
    }
    @include styling-for-browser-size(800px) {
        width: 23rem;
        height: 22rem;
    }
    @include dimensions-for-phone-and-tablet{
        align-self: center;
        margin-left: 1rem;
        width: 22.625rem;
        height: 14.72631rem;   
    }
    @include dimensions-for-ipad{
        width: 25.625rem;
        height: 20.72631rem;
        padding-right: 2rem; 
    }
    @include styling-for-browser-size(800px){
        width: 23.625rem;
        height: 20.72631rem;
        padding-right: 2rem; 
    }
    @include dimensions-for-large-desktop-only{
        width: 40.8125rem;
        height: 32.75rem;
    }
    @include dimensions-for-monitor-only{
        width: 50.8125rem;
        height: 38.75rem;
    }
}
.frame-4-image{
    @extend %landing-frame-image-style;
    @include dimensions-for-phone-and-tablet{
        width: 22.625rem;
        height: 15.875rem;
        margin-left: 0;  
    }
    @include dimensions-for-small-desktop-only{
        width: 35.625rem;
        height: 20.875rem;
    }
    @include dimensions-for-ipad{
        width: 20.625rem;
        height: 22.875rem;
    }
    @include dimensions-for-large-desktop-only{
        width: 40.625rem;
        height: 22.875rem;
    }
    @include dimensions-for-monitor-only{
        width: 50.625rem;
        height: 27.875rem;
    }
}

.member-image{
    width: 7.5rem;
    height: 7.5rem;
    margin-bottom: 0.3rem;
    @include dimensions-for-phone-and-tablet{
        width: 6rem;
        height: 6rem;
    }
   @include dimensions-for-ipad{
    width: 6rem;
    height: 6rem;
   }
    @include dimensions-for-large-desktop-only{
        width: 10.5rem;
        height: 10.5rem;
    }
}
