.input_container {
    display: flex;
    flex-direction: column;
}
.inputfield {
    @include font-family(secondary);
    width: 90%;
    margin: 0.5rem auto;
    margin-bottom: 0;
    padding: 0.5rem;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 0.5rem;
    @include styling-for-browser-size(450px){
        width: 98%;
    }
    &_medium{
        width: 25.625rem;
        height: 3.75rem;
        @include placeholder-styles {
            color: black;
        }
        @include dimensions-for-phone-only{
            width: 19.5rem;
            height: 3.75rem;
            align-self: center;
        }
        @include dimensions-for-tablet-only{
            align-self: center;
            margin-left: 2rem;
        }
    }
}

input[type="date"] {
    border: 1px solid black;
    font-size: 15px;
    width: 95%;
    @include styling-for-browser-size(450px){
        width: 98%;
    }
}

.self_race{
    @extend %input-field-open-on-prompt;
}
.self_sex{
    @extend %input-field-open-on-prompt;
    margin-bottom: 1rem;
}

/*
.frame-2-small-field{
    @extend %landing-input-field;
    @include placeholder-styles {
        color: #A6A6A6;
    }
    @include dimensions-for-phone-only{
        width: 19.5rem;
        height: 3.75rem;
        align-self: center;
    }
    @include dimensions-for-tablet-only{
        align-self: center;
        margin-left: 2rem;
    }
}

.frame-6-field {
    @extend %landing-input-field;
    @include placeholder-styles {
        color: #A6A6A6;
    }
    @include dimensions-for-phone-only{
        width: 19.5rem;
        height: 3.75rem;
    }
    @include dimensions-for-tablet-only{
        align-self: center;
        margin-left: 2rem;
    }
}*/