.subheader{
    font-style: normal;
    line-height: normal;
    @include font-family(primary);

    &_large{
        font-size: 1.5rem;
    }

    &_medium{
        color: #2B2C33;
        font-size: 1.2rem;
        font-weight: 700;
        @include dimensions-for-phone-only {
            font-size: 1.25rem;
        }
        @include dimensions-for-large-desktop-only {
            font-size: 1.56rem;
        }
        @include dimensions-for-monitor-only {
            font-size: 1.7rem;
        } 
    }

    &_small{
        font-size: 0.9rem;
        color: $small-subheader-color;
        font-weight: 600;
        @include styling-for-browser-size(900px){
            font-size: 0.8rem;
        }
        @include dimensions-for-phone-and-tablet{
            text-align: center;
            font-size: 1rem;
        }
        @include dimensions-for-large-desktop-only{
            font-size: 1.1rem;
        }
        @include dimensions-for-monitor-only{
            font-size: 1.3rem;
        }
    }
}
.welcome2_subtitle {
    @extend %base-subtitle;
    @include styling-for-browser-size(600px) {
        font-size: 1rem;
        margin-top: 1rem;
    }
    @include styling-for-browser-size(300px) {
        font-size: 0.85rem;
    }
}
p {
    @include font-family(secondary)
}
.disclaimer_subtitle {
    @extend %base-subtitle;
    text-align: left;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    @include styling-for-browser-size(600px) {
        font-size: 1rem;
        margin-top: 2rem;
    }
}