.welcome2_subtitle {
    @extend %base-subtitle;
    @include styling-for-browser-size(600px) {
        font-size: 1rem;
        margin-top: 1rem;
    }
    @include styling-for-browser-size(300px) {
        font-size: 0.85rem;
    }
}
.subtitle {
    @extend %base-subtitle;
    @include styling-for-browser-size(600px) {
        font-size: 1rem;
        margin-top: 2rem;
    }
    @include styling-for-browser-size(300px) {
        font-size: 0.85rem;
    }
}
p {
    @include font-family(secondary)
}
.disclaimer_subtitle {
    @extend %base-subtitle;
    text-align: left;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    @include styling-for-browser-size(600px) {
        font-size: 1rem;
        margin-top: 2rem;
    }
}

.nav-title {
    color: #2B2C33;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    @include font-family(primary);
    @include dimensions-for-phone-only {
        font-size: 1.25rem;
    }
    
}

.frame-1-subheader{
    @extend %landing-frame-font-styles-subheader;
    font-size: 1rem;
    margin-bottom: 1.25rem;
    @include dimensions-for-phone-only{
        text-align: center;
        font-size: 0.75rem;
    }
}

.frame-3-subheader{
    @extend %landing-frame-font-styles-subheader;
    color: #FF3D00;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    @include dimensions-for-phone-only{
        text-align: center;
        font-size: 0.75rem;
    }
}