@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.input_container {
    display: flex;
    flex-direction: column;
}
input {
    font-family: 'Nunito', sans-serif;
    width: 90%;
    margin: 0.5rem auto;
    padding: 0.5rem;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 0.5rem;
}

input[type="date"] {
    border: 1px solid black;
    font-size: 15px;
    width: 95%;
}

.self_race, .self_sex {
    margin-top: 0;
    font-size: 15px;
    width: 95%;
    margin-bottom: 1rem;
}

.self_sex {
    margin-bottom: 1rem;
}

.frame-2-small-field, .frame-2-big-field{
    width: 25.625rem;
    height: 3.75rem;
    border-radius: 0.5rem;
    border: 2px solid #A6A6A6;
    background-color: #161C28;
    color: white;
    padding: auto;
    box-sizing: border-box;
}

.frame-2-big-field{
    width: 25.625rem;
    height: 10.75rem;
    padding-top: 0;
}

.frame-2-big-field::-webkit-input-placeholder{ 
    white-space:pre-line;  
    position: relative;
    top: -3.5rem;
    left:0.3rem;
    color: #A6A6A6;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
}

.frame-2-small-field::-webkit-input-placeholder{
    color: #A6A6A6;
}
.frame-6-field, .frame-6-big-field{
    width: 25.625rem;
    height: 3.75rem;
    border-radius: 0.5rem;
    border: 2px solid #A6A6A6;
    background: #161C28;
}

.frame-6-big-field{
    height: 10.75rem;;
}


@media (max-width:450px) {
    input {
        width: 98%;
    }
    .frame-2-small-field{
        width: 19.5rem;
        height: 3.75rem;
        align-self: center;
    }
    .frame-2-big-field{
        width: 19.5rem;
        height: 10.75rem;
    }
    .frame-6-field{
        width: 19.5rem;
        height: 3.75rem;
    }
    .frame-6-big-field{
        width: 19.5rem;
        height: 10.75rem;
    }
}