.skip {
    color: black;
    text-align: center;
    font-size: 0.85rem;
    text-decoration: underline;
    margin-top: 1rem;
    margin-bottom: 5rem;
    cursor: pointer;
}
.admin {
    color: slateblue;
    font-size: 0.95rem;
}

@media (max-width:450px) {
    .admin {
        position: absolute;
        bottom: 25px;
    }
}