@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.welcome2_subtitle, .subtitle, .disclaimer_subtitle {
    margin-top: 1rem;
    color: black;
    text-align: center;
}

p {
    font-family: 'Nunito', sans-serif;
}
.disclaimer_subtitle {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.nav-title {
    color: #2B2C33;
    font-size: 1.5rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    
}

.frame-1-subheader{
    color: #FF3D00;
    font-size: 1rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
    margin-bottom: 1.25rem;
}
@media (max-width:600px) {
    .welcome2_subtitle, .subtitle, .disclaimer_subtitle{
        font-size: 1rem;
    }
    .welcome2_subtitle {
        margin-top: 1rem;
    }
    .subtitle, .disclaimer_subtitle{
        margin-top: 2rem;
    }
}

@media (max-width: 430px) {
    .frame-1-subheader{
        color: #FF3D00;
        text-align: center;
        font-size: 0.75rem;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: 1.875rem;
    }
    .frame-3-subheader{
        color: #FF3D00;
        text-align: center;
        font-size: 0.75rem;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: 1.875rem;
    }
}
@media (max-width:300px) {
    .welcome2_subtitle, .subtitle {
       font-size: 0.85rem;
    }
}
