.frame-2-header{
    color: #FFF;
}
.frame-2-description{
    color: #FFF;
    @include dimensions-for-phone-and-tablet{
        font-size: 1rem;
    }
    
  }

.frame-2-small-field{
    border: 2px solid #A6A6A6;
    background-color: #161C28;
    color: white;
    padding: auto;
    box-sizing: border-box;
    @include placeholder-styles {
        color: #A6A6A6;
    }
    @include dimensions-for-tablet-only{
        //margin-left: 2rem;
    }
}