.checkicon {
    color: slateblue;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 0;
}

.icon {
    margin-top: 1rem;
    margin-right: 1rem;
    color: #5E47E0;
}

@media (max-width:430px) {
    .icon{
        margin-bottom: 1rem;
    }
}