.checkicon {
    color: slateblue;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 0;
}

.welcome3_title {
    color: slateblue;
    font-size: 3vw;
    margin-top: 0;
}

.continue2_button {
    display: block;
    margin: 3rem auto 1rem auto;
    width: 95%;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    outline: 0;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    background-color: slateblue;
    color: white;
    border: 2px solid transparent;
}

.continue2_button {
    margin-top: 5rem;
    background-color: slateblue;
}

@media (max-width:880px) {
    .welcome3_title {
        font-size: 2.5rem;
    }
}

@media (max-width:450px) {
    .continue2_button {
        width: 90%;
        margin-top: 15rem;
        text-align: center;
    }
    .welcome3_title {
        margin-bottom: 0;
    }
}

@media (max-width:331px) {
    .welcome3_title {
        font-size: 2rem;
     }
}