@mixin hover-effect{
    border: 2px solid slateblue;
    background-color: black;
}

@mixin disable-button{
    opacity: 0.5; /* Example: reduce opacity to visually indicate the button is disabled */
    pointer-events: none; /* Disable pointer events to prevent clicks */
}

@mixin placeholder-styles{
    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &::placeholder {
      @content;
    }
}

@mixin font-family($family-name) {
    font-family: map-get($map: $font-families, $key: $family-name);
}

@mixin dimensions-for-phone-only() {
    @media (max-width:450px) {
        @content;
    }
}

@mixin dimensions-for-tablet-only() {
    @media (min-width:450px) and (max-width:750px) {
        @content;
    }
}

@mixin dimensions-for-laptop-only() {
    @media (min-width:750px) and (max-width:1200px) {
        @content;
    }
}

@mixin dimensions-for-small-desktop-only() {
    @media (min-width:1200px) {
        @content;
    }
}

@mixin dimensions-for-large-desktop-only() {
    @media (min-width:1400px) {
        @content;
    }
}


@mixin dimensions-for-monitor-only() {
    @media (min-width:1600px) {
        @content;
    }
}

@mixin dimensions-for-phone-and-tablet(){
    @media (max-width:750px) {
        @content;
    }
}

@mixin dimensions-for-ipad(){
    @media (max-width:850px) {
        @content;
    }
}
@mixin frame-dimensions-for-phone-tablet() {
    @media (max-width:750px) {
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        padding: 1rem;
        align-items: center;
        margin-bottom: 1rem;
        @content;
    }
}

@mixin frame-left-dimensions-for-phone-tablet() {
    @media (max-width:750px) {
        width:80vw;
        margin-left: 0;
        margin-right: 0;
        @content;
    }
}

@mixin frame-right-dimensions-for-phone-tablet() {
    @media (max-width:750px) {
        width: 80vw;
        justify-content: center;
        margin-top: 2rem;
        margin-left: 0;
        display: grid;
        @content;
    }
}

@mixin styling-for-browser-size($max-width) {
    @media(max-width: $max-width) {
        @content
    }
}