* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 1rem 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.landing-page {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow: hidden;
}
